.left img {
    width: 32px;
    height: 23px;
}


.container{
padding:0 10vw ;
margin:auto;
}


nav ul li {
    list-style: none;
    padding:0 12px;
}


.section-1{
    background:rgb(205, 204, 204) ;
}