@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.left img {
    width: 32px;
    height: 23px;
}


.container{
   
padding:0 10vw ;

}

nav{
    font-size: 14px;
    padding-top: 14px;
}


nav ul li {
    list-style: none;
    padding:0 12px;
}


.section-1{
    background:rgb(225, 225, 225) ;
    height: 122vh;
}

.desktop-searchBar{
    height: 35px;
    width: 400px;
    padding: 4 17px;
}

.homeImg{
    width: 80vw;
    margin: 12px 0;
}

.itemImg{
    width: 10vw;
   margin: 6px 12px;
}
footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgb(0 0 0 /24%)0px 3px 8px;
}